<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=RESTAURANT.name%></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Home Page</h1>
  <h2>
    <div><%=RESTAURANT.name%></div> 
    <div><%=RESTAURANT.address%></div>
    <div><%=RESTAURANT.phone%></div>
  </h2>
</body>
</html>